/*  ============= WEB BROWSER RESETS ============ */
* {
    margin: 0;
    padding: 0;
    border: none
}

*,
*::before,
*::after {
    box-sizing: border-box
}

html {
    height: 100%;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    scroll-behavior: smooth;
    scroll-padding-top: 20px
}

body {

    background-color: #AAD9BB;
    line-height: 1.5;
    min-height: 100vh
}

@media (max-width: 767px) {
    body {
        text-rendering: optimizeSpeed
    }
}

@media (min-width: 768px) {
    body {
        text-rendering: optimizeLegibility
    }
}

img {
    width: 100%;
    height: auto;
    display: block
}

input,
button,
textarea,
select {
    font: inherit
}

/* ================= ENDS ================ */

body {
    font-family: serif;
    }

h1 {
    color: #264e70;
    font-size: 70px;
    font-weight: normal;
    letter-spacing: -2px;
    margin-bottom: 54px;
    margin-top: 54px;
    line-height: 1.2;
}

h2 {
    color: #264e70;
    font-size: 42px;
    letter-spacing: 2px;
    margin-bottom: 48px;
    line-height: 1.2;
}

h3 {
    color: #264e70;
    font-size: 24px;
    margin-top: 48px;
    margin-bottom: 20px;
    line-height: 1.2;
    text-transform: uppercase;
}

p {
    color: #264e70;
    font-size: 20px;
    margin-bottom: 16px;
}

/* ================= ENDS ================ */

a:link, a:visited {
    color: #c7417b;
    text-decoration: none;
}

a:hover, a:active, a:focus {
    color: #553772;
    text-decoration: underline;
}

/* ================= ENDS ================ */

/* SECTIONS */

.pink-iced-section {
    background-color: #F5E8C7;
    padding: 50px;
    padding-left: 250px;
}

.yellow-iced-section {
    background-color: #fdebd3;
    padding: 50px;
    padding-left: 250px;
}

/* HERO BLOCKS */
.hero-block {
    position: relative;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: gray;
    overflow: hidden;
    text-align: center;
}

@media (min-width: 768px) {
    .hero-block {
        height: 80vh
    }
}

.hero-text-container {
    padding: 0 12% 4% 12%;
    z-index: 2;
}

.hero-bg-media {
    position: absolute;
    top : 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}

.hero-bg-media * {
    object-fit: cover; 
    width: 100%;
    height: 100%;
}
.bg-overlay {
    background-image: linear-gradient(rgba(29, 38, 113, 0.7), rgba(195, 55, 100, .3));
    z-index: 1;
}
.hero-block h1,
.hero-block h2 {
    line-height: 1.2;
    color: #ffdafd;
    border: 12px solid #ffdafd;
    padding: 10px;
    font-family: 'Baskervville';
}

.hero-block h1 {
    font-size: calc(64px + (112 - 64) * ((100vw - 320px) / (1600 - 320)));
    margin-bottom: 24px;
}

.hero-block h2 {
    font-weight: normal;
    font-size: calc(30px + (64 - 30) * ((100vw - 320px) / (1600 - 320)));
    text-transform: uppercase;
}

/* ================= ENDS ================ */

.fade-in-fwd {
	-webkit-animation: fade-in-fwd 6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-fwd 6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-1-24 9:32:36
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in-fwd
 * ----------------------------------------
 */
@-webkit-keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
            transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
            transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}

.pink-iced-section{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 400px; 
    padding-right: 400px;

}

.pink-iced-section.competences{
    flex: 1;
    padding: 20px;
    
}

.pink-iced-section h2 {
    font-size: 24px;
    text-align: left;
}

.pink-iced-section p {
    font-size: 24px;
    text-align: left;
}

.pink-iced-section video {
    flex: 1;
    width: 20%;
    max-width: 600px;
    padding: 20px;
}


/* button */
.button-56 {
  align-items: center;
  background-color: #fee6e3;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-56:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.button-56:hover:after {
  transform: translate(0, 0);
}

.button-56:active {
  background-color: #ffdeda;
  outline: 0;
}

.button-56:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button-56 {
    padding: 0 40px;
  }
}

.button-74 {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-74:hover {
  background-color: #fff;
}

.button-74:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-74 {
    min-width: 120px;
    padding: 0 25px;
  }
}